p {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.prising-table-box {
   padding: 0;
   margin: 0;
   width: 100%;
}
table {
    margin: auto;
}
.pricing-table-box-list {
    font-family: Arimo;
    font-size: 16px;
    text-align: center;
    color: #484848;
}
.first-row {
    height: 69px;
    box-shadow: inset -3px 0px 6px -3px rgb(0 0 0 / 27%);
}
.second-row {
    box-shadow: inset -3px 0px 6px -3px rgb(0 0 0 / 27%);
}
.third-row {
    box-shadow: inset -3px 0px 6px -3px rgb(0 0 0 / 27%);
}
.pricing-table-box-list:nth-child(2n){
    background-color: #e3e3e3;
} 
.pricing-table-box-list:nth-child(odd){
    background-color: #f2f2f2;
} 
thead {
    background-color: #fafafa;
}
.pricing-table-box-text {
    font-family: Arimo;
    text-align: center;
    color: #484848;
    font-weight: bold;
    line-height: 0.93;
    box-shadow: inset -3px 0px 6px -3px rgb(0 0 0 / 27%);
}
h3 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 44px;
}
h2 {
    font-size: 30px;
    margin: 0 49px 46px 49px;
}
.pricing-table-box-item{
    width: 277px;
    height: 156px;
    box-shadow: inset -3px 0px 6px -3px rgb(0 0 0 / 27%);
}
.pricing-table-box-item1{
    width: 277px;
    height: 156px;
}
.pricing-table-box-item-price {
    padding: 9px 0 9px 0;
}
.pricing-table-box-item-head-color1 {
    display: block;
    font-family: Arimo;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    background-color: #89c331;
    padding: 21px 0 21px 0;
}
.dollars {
    font-family: Arimo;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #484848;
    float: left;
    margin-left: 33px;
}
.cent {
    font-family: Arimo;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #484848;
    float: left;
    margin-top: 7px;
}
.time {
    font-family: Arimo;
    font-size: 18px;
    color: #484848;
    position: relative;
    top: 40px;
    left: -30px;
}
.pricing-table-box-item-head-color2 {
    display: block;
    font-family: Arimo;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    background-color: #f04a56;
    padding: 21px 0 21px 0;
}
.pricing-table-box-item-head-color3 {
    display: block;
    font-family: Arimo;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    background-color: #20807c;
    padding: 21px 0 21px 0;
}
img {
    position: relative;
    top: 4px;
    left: -5px;
}
.buttons {
    height: 110px;
    box-shadow: inset -3px 0px 6px -3px rgb(0 0 0 / 27%);
}
.button1 {
    display: inline-block;
    padding: 19px 44px 17px 45px;
    text-decoration: none;
    background: #484848;
    border-bottom: solid 4px #404040;
    border-radius: 7px;
    font-family: Arimo;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }
  .button1:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(23, 23, 23, 0.2);
    border-bottom: none;
  }
  .button2 {
    display: inline-block;
    padding: 19px 57px 17px 58px;
    text-decoration: none;
    background: #89c331;
    border-bottom: solid 4px #79b027;
    border-radius: 7px;
    font-family: Arimo;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }
  .button2:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(23, 23, 23, 0.2);
    border-bottom: none;
  }
  .button3 {
    display: inline-block;
    padding: 19px 57px 17px 58px;
    text-decoration: none;
    background: #f04a56;
    border-bottom: solid 4px #df3a46;
    border-radius: 7px;
    font-family: Arimo;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }
  .button3:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(23, 23, 23, 0.2);
    border-bottom: none;
  }
  .button4 {
    display: inline-block;
    padding: 19px 57px 17px 58px;
    text-decoration: none;
    background: #20807c;
    border-bottom: solid 4px #16736f;
    border-radius: 7px;
    font-family: Arimo;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }
  .button4:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(23, 23, 23, 0.2);
    border-bottom: none;
  }
  table, td {
    border:none;
    border-spacing: 0;
    padding: 0;
}
  