table, td {
    border:none;
    border-spacing: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.prising-table-box {
   padding: 0;
   margin: 0;
   width: 100%;
}
table {
    margin: auto;
}
i {
    margin-right: 14px;
    color: #848484;
}

.first-row {
    padding: 25px 0 25px;
    box-shadow: inset -3px 0px 6px -3px rgb(0 0 0 / 27%);
}
.second-row {
    box-shadow: inset -3px 0px 6px -3px rgb(0 0 0 / 27%);
}
.third-row {
    box-shadow: inset -3px 0px 6px -3px rgb(0 0 0 / 27%);
}
.pricing-table-box-list:nth-child(2n){
    background-color: #e3e3e3;
} 
.pricing-table-box-list:nth-child(odd){
    background-color: #f2f2f2;
} 
thead {
    background-color: #fafafa;
}
h3 {
    font-size: 18px;
    margin: 49px 0 10px;
}
h2 {
    font-size: 30px;
    margin: 0 48px 51px 48px;
}
.pricing-table-box-item{
    box-shadow: inset -3px 0px 6px -3px rgb(0 0 0 / 27%);
}
.pricing-table-box-item-price {
    padding: 9px 0 9px 0;
}
.pricing-table-header {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    color: #484848;
    font-weight: 700;
    line-height: 0.93;
    box-shadow: inset -3px 0px 6px -3px rgb(0 0 0 / 27%);
}
.pricing-table-header-color{
    font-family: 'Arimo', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 21px 0 21px 0;
}
.pricing-table-header--lime {
    background-color: #89c331;
}
.pricing-table-header--red {
    background-color: #f04a56;
}
.pricing-table-header--jade {
    background-color: #20807c;
}
.dollars {
    font-family: Arimo;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #484848;
    float: left;
    margin-left: 33px;
}
.cent {
    font-family: Arimo;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #484848;
    float: left;
    margin-top: 7px;
}
.time {
    font-family: Arimo;
    font-size: 18px;
    color: #484848;
    position: relative;
    top: 40px;
    left: -30px;
}
.pricing-table-box-list {
    font-family: Arimo;
    font-size: 16px;
    text-align: center;
    color: #484848;
}
.pricing-table-buttons {
    box-shadow: inset -3px 0px 6px -3px rgb(0 0 0 / 27%);
}
.button {
    display: inline-block;
    text-decoration: none;
    border-radius: 7px;
    font-family: Arimo;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    text-shadow: 0 2px 5px black;
    margin: 32px 0 29px;
}
.button:active {
    transition: 1s;
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(23, 23, 23, 0.2);
    border-bottom: none;
  }
.button--gray {
    padding: 19px 44px 17px 45px;
    background: #484848;
    border-bottom: solid 7px #404040; 
  }
  .button--lime {
    padding: 19px 57px 17px 58px;
    background: #89c331;
    border-bottom: solid 7px #79b027;
  }
  .button--red {
    padding: 19px 57px 17px 58px;
    background: #f04a56;
    border-bottom: solid 7px #df3a46;
  }
  .button--jade {
    padding: 19px 57px 17px 58px;
    background: #20807c;
    border-bottom: solid 7px #16736f;
  }

  